<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <a class="navbar-brand" href="#"><img src="~/images/poslovenskyLogoLight.png" alt="Logo" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Головна</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Cтатті</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Мова
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Українська</a></li>
                    <li><a class="dropdown-item" href="#">российский</a></li>
                    <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>