@{
    ViewData["Title"] = "Статті | poslovensky";
}

<div class="card mb-3 mt-3">
    <img src="images/poslovenskyLogo.png" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <a href="#" style="color: #000;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </a>
        <p class="card-text mb-0"><small class="text-body-secondary">Категорія: Здоров'я</small></p>
        <p class="card-text">
            <img src="images/views.png" alt="Views" class="views-img-small">    
            <small class="text-body-secondary">128</small>
        </p>
        <p class="card-text"><small class="text-body-secondary">12.07.2023</small></p>
    </div>
</div>

<div class="card mb-3 mt-3">
    <img src="images/123.jpg" class="card-img-top card-img" alt="...">
    <div class="card-body">
        <a href="#" style="color: #000;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </a>
        <p class="card-text"><small class="text-body-secondary">Категорія: Здоров'я</small></p>
        <p class="card-text"><small class="text-body-secondary">05.03.2015</small></p>
    </div>
</div>
